<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: header"></th:block>
    <!--/*@thymesVar id="fragmentInclude" type="java.lang.String"*/-->
    <th:block th:include="${fragmentInclude} :: header"></th:block>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments/navigation :: navbar"></div>
        <!--/*@thymesVar id="fragmentInclude" type="java.lang.String"*/-->
        <div th:replace="${fragmentInclude} :: content"></div>
    </div>
</body>
</html>